body{
    margin: 0;
    
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(245, 245, 245);
    max-width: 100%;
    overflow-x: hidden;
   
}

main{
    margin: 0 240px;
    
}







nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
    

    
}
nav a{

    color: #403B3B;
    text-transform: uppercase;

}

nav li{
    display: inline-block;
    margin-right: 175px;
    padding-top: 42px;
    position: relative;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 500;
    
}



nav{
    float: right;
}
.navbar{
width: 100%;
margin: 0 auto;
position: fixed;
display: block;
background-color:  #EFEEEA;
border-bottom: #692340 4px solid;
top: 0;


}






.logo{
   padding-bottom: 0;
   margin-bottom: 0%;
   position: center;
   float: left;
   padding-left: 230px;
   color: #403B3B;
   padding-top: 8px;
   padding-bottom: 8px;

   

    
    
}
.bottom{
    display: inline-block;
    background-color:  #EFEEEA;
    border-top: #692340 3px solid;
    margin-top: 0;
    width: 100%;
}
#bakgrund{
    min-height: 710px;
    background: url(/img/cliff-5547648_1920.jpg) no-repeat;
    text-align: center;
    padding-top: 20;
    
}

#bakgrund h1{
    padding-top: 240px;
    padding-bottom: 15px;
    font-size: 45px;
}
    

header .Highlight{
    color: #692340;
    font-weight: bold;

}
 
header, h1{
    font-weight: lighter;
}




nav a:hover{
    color: rgb(0, 0, 0)
}

nav a::before {  
    content: '';
    display: block;
    height: 2.5px;
    background-color: #444;
    
    position: absolute;
    bottom: 0;
    width: 0%;
    
    transition: all ease-in-out 150ms;
}

nav a:hover::before{
    width: 100%;
}


  
  
  